<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.survey.component.dao.i.TbCustTestResultMapper">
	<resultMap id="BaseResultMap" type="com.atguigu.survey.entities.zhyq.TbCustTestResult">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="TEST_USER_ID" property="testUserId" jdbcType="INTEGER" />
		<result column="TEST_PAPER_ID" property="testPaperId" jdbcType="INTEGER" />
		<result column="TEST_RESULT" property="testResult" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and ID= #{id}</if>	
		<if test="testUserId != null"> and TEST_USER_ID= #{testUserId}</if>
		<if test="testPaperId != null"> and TEST_PAPER_ID= #{testPaperId}</if>
		<if test="testResult != null and testResult !=''"> and TEST_RESULT= #{testResult}</if>
	</sql>
	<sql id="Base_Column_List">
		ID ,
		TEST_USER_ID ,
		TEST_PAPER_ID ,
		TEST_RESULT 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_cust_test_result
		where
		ID = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_cust_test_result
		where
		ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.atguigu.survey.entities.zhyq.TbCustTestResult">
		insert into tb_cust_test_result
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>	
			<if test="testUserId != null">TEST_USER_ID,</if>
			<if test="testPaperId != null">TEST_PAPER_ID,</if>
			<if test="testResult != null and testResult !=''">TEST_RESULT,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="testUserId != null">
				#{testUserId,jdbcType=INTEGER},
			</if>
			<if test="testPaperId != null">
				#{testPaperId,jdbcType=INTEGER},
			</if>
			<if test="testResult != null and testResult !=''">
				#{testResult,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.atguigu.survey.entities.zhyq.TbCustTestResult">
		update tb_cust_test_result
		<set>
			<if test="testUserId != null">
				TEST_USER_ID= #{testUserId,jdbcType=INTEGER},
			</if>
			<if test="testPaperId != null">
				TEST_PAPER_ID= #{testPaperId,jdbcType=INTEGER},
			</if>
			<if test="testResult != null and testResult !=''">
				TEST_RESULT= #{testResult,jdbcType=VARCHAR}
			</if>
		</set>
		where
		ID = #{id,jdbcType=INTEGER}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from tb_cust_test_result where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from tb_cust_test_result where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from tb_cust_test_result where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_cust_test_result where ID in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

    <insert id="saveCustTestResult" parameterType="java.util.Map" >
        insert into
           tb_cust_test_result(TEST_USER_ID, TEST_PAPER_ID, TEST_RESULT)
        values
           (#{userId},#{paperId},#{result})
    </insert>
    
    <select id="queryResultByTypeCode" resultType="map" parameterType="map">
		select
			r.ID as "resultId",
			p.TEST_TYPE_CODE as "testTypeCode",
			p.TEST_TYPE_NAME as "testTypeName",
			p.TEST_PAPER_NAME as "testPaperName"
		from tb_cust_test_result r, tb_cust_test_paper p where 1=1
		and r.TEST_PAPER_ID = p.ID
		and r.TEST_USER_ID = #{userId,jdbcType=INTEGER}
		and p.TEST_TYPE_CODE = #{typeCode,jdbcType=VARCHAR}
		<include refid="Base_Where" />
	</select>

    <select id="getTbCustTestResultByTestPaperId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from tb_cust_test_result
        where
        ID = #{id,jdbcType=INTEGER}
    </select>
    
    <select id="queryResultByUserIdAndPaperId" resultType="Integer" parameterType="map">
        select
        	count(1)
        from tb_cust_test_result
        where
        TEST_USER_ID = #{userId,jdbcType=INTEGER}
        and TEST_PAPER_ID = #{paperId,jdbcType=INTEGER}
    </select>
    
    
    <select id="queryResultListByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List" />
        from tb_cust_test_result
        where
        TEST_USER_ID = #{userId,jdbcType=INTEGER}
    </select>

</mapper>
