<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="TbCustomerRelationMapper">
	<resultMap id="BaseResultMap" type="com.atguigu.survey.entities.zhyq.model.TbCustomerRelation">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="USER_ID" property="userId" jdbcType="INTEGER" />
		<result column="DEPARTMENT_ID" property="departmentId" jdbcType="INTEGER" />
		<result column="POSITION_ID" property="positionId" jdbcType="INTEGER" />
		<result column="PHONE" property="phone" jdbcType="VARCHAR" />
		<result column="EMAIL" property="email" jdbcType="VARCHAR" />
		<result column="USER_NAME_CN" property="userNameCn" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and ID= #{id}</if>	
		<if test="userId != null"> and USER_ID= #{userId}</if>	
		<if test="departmentId != null"> and DEPARTMENT_ID= #{departmentId}</if>	
		<if test="positionId != null"> and POSITION_ID= #{positionId}</if>	
		<if test="phone != null and phone !=''"> and PHONE= #{phone}</if>
		<if test="email != null and email !=''"> and EMAIL= #{email}</if>
		<if test="userNameCn != null and userNameCn !=''"> and USER_NAME_CN= #{userNameCn}</if>
	</sql>
	<sql id="Base_Column_List">
		ID ,
		USER_ID ,
		DEPARTMENT_ID ,
		POSITION_ID ,
		PHONE ,
		EMAIL ,
		USER_NAME_CN 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_customer_relation
		where
		ID = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_customer_relation
		where
		ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.atguigu.survey.entities.zhyq.model.TbCustomerRelation">
		insert into tb_customer_relation
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>	
			<if test="userId != null">USER_ID,</if>	
			<if test="departmentId != null">DEPARTMENT_ID,</if>	
			<if test="positionId != null">POSITION_ID,</if>	
			<if test="phone != null and phone !=''">PHONE,</if>
			<if test="email != null and email !=''">EMAIL,</if>
			<if test="userNameCn != null and userNameCn !=''">USER_NAME_CN,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=INTEGER},
			</if>
			<if test="departmentId != null">
				#{departmentId,jdbcType=INTEGER},
			</if>
			<if test="positionId != null">
				#{positionId,jdbcType=INTEGER},
			</if>
			<if test="phone != null and phone !=''">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email !=''">
				#{email,jdbcType=VARCHAR},
			</if>
			<if test="userNameCn != null and userNameCn !=''">
				#{userNameCn,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.atguigu.survey.entities.zhyq.model.TbCustomerRelation">
		update tb_customer_relation
		<set>
			<if test="userId != null">
				USER_ID= #{userId,jdbcType=INTEGER},
			</if>
			<if test="departmentId != null">
				DEPARTMENT_ID= #{departmentId,jdbcType=INTEGER},
			</if>
			<if test="positionId != null">
				POSITION_ID= #{positionId,jdbcType=INTEGER},
			</if>
			<if test="phone != null and phone !=''">
				PHONE= #{phone,jdbcType=VARCHAR},
			</if>
			<if test="email != null and email !=''">
				EMAIL= #{email,jdbcType=VARCHAR},
			</if>
			<if test="userNameCn != null and userNameCn !=''">
				USER_NAME_CN= #{userNameCn,jdbcType=VARCHAR}
			</if>
		</set>
		where
		ID = #{id,jdbcType=INTEGER}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from tb_customer_relation where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from tb_customer_relation where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from tb_customer_relation where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_customer_relation where ID in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>
	 <select id="getRelationInfoByUserId" parameterType="java.lang.Integer" resultType="com.atguigu.survey.vo.CustomerDetailVo">
        select
           r.USER_NAME_CN as userName,
           c.COMPANY_NAME_EN as companyNameEN,
           c.COMPANY_NAME_CN as companyNameCN,
           d.DEPARTMENT_NAME as departmentName,
           p.POSITION_NAME as positionName
        from
           tb_customer_relation r
           inner join  tb_department d on r.DEPARTMENT_ID = d.ID
           inner join  tb_company c on c.ID = d.COMPANY_ID
           inner join  tb_position p on r.POSITION_ID = p.ID
        where
           r.USER_ID =  #{id}
    </select>

    <select id="getAllUserInfoByDepartmentId" parameterType="java.lang.Integer" resultType="com.atguigu.survey.vo.CustomerRelationInfoVo">
        select
          r.USER_ID as userId,
          r.USER_NAME_CN as userName,
          p.POSITION_NAME as positionName,
          r.PHONE as phone,
          r.EMAIL as email
        from
          tb_customer_relation r
          inner join guest_user u on r.USER_ID = u.USER_ID
          inner join  tb_position p on r.POSITION_ID = p.ID
    </select>

</mapper>
