<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.survey.component.dao.i.TbDepartmentMapper">
	<resultMap id="BaseResultMap" type="com.atguigu.survey.entities.zhyq.TbDepartment">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="COMPANY_ID" property="companyId" jdbcType="INTEGER" />
		<result column="DEPARTMENT_NAME" property="departmentName" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and ID= #{id}</if>	
		<if test="companyId != null"> and COMPANY_ID= #{companyId}</if>	
		<if test="departmentName != null and departmentName !=''"> and DEPARTMENT_NAME= #{departmentName}</if>
	</sql>
	<sql id="Base_Column_List">
		ID ,
		COMPANY_ID ,
		DEPARTMENT_NAME 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_department
		where
		ID = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_department
		where
		ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.atguigu.survey.entities.zhyq.TbDepartment">
		insert into tb_department
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>	
			<if test="companyId != null">COMPANY_ID,</if>	
			<if test="departmentName != null and departmentName !=''">DEPARTMENT_NAME,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="companyId != null">
				#{companyId,jdbcType=INTEGER},
			</if>
			<if test="departmentName != null and departmentName !=''">
				#{departmentName,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.atguigu.survey.entities.zhyq.TbDepartment">
		update tb_department
		<set>
			<if test="companyId != null">
				COMPANY_ID= #{companyId,jdbcType=INTEGER},
			</if>
			<if test="departmentName != null and departmentName !=''">
				DEPARTMENT_NAME= #{departmentName,jdbcType=VARCHAR}
			</if>
		</set>
		where
		ID = #{id,jdbcType=INTEGER}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from tb_department where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from tb_department where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from tb_department where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_department where ID in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

    <select id="getDepartmentListByCompanyId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from tb_department
        where
        COMPANY_ID = #{companyId,jdbcType=INTEGER}
    </select>

    <insert id="saveDepartmentByCompanyId">
        insert into tb_department(COMPANY_ID,DEPARTMENT_NAME)
        values (#{companyId},#{departmentName})
    </insert>

</mapper>
