<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.survey.component.dao.i.TbPaEcReportMapper">
	<resultMap id="BaseResultMap" type="com.atguigu.survey.entities.zhyq.TbPaEcReport">
		<id column="ID" property="id" jdbcType="INTEGER" />
		<result column="STANDARD_VALUE_BGN" property="standardValueBgn" jdbcType="INTEGER" />
		<result column="STANDARD_VALUE_END" property="standardValueEnd" jdbcType="INTEGER" />
		<result column="SECTION_DESC" property="sectionDesc" jdbcType="VARCHAR" />
		<result column="DEVELOPMENT_ADVICE" property="developmentAdvice" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Where">
		<if test="id != null"> and ID= #{id}</if>	
		<if test="standardValueBgn != null"> and STANDARD_VALUE_BGN= #{standardValueBgn}</if>	
		<if test="standardValueEnd != null"> and STANDARD_VALUE_END= #{standardValueEnd}</if>	
		<if test="sectionDesc != null and sectionDesc !=''"> and SECTION_DESC= #{sectionDesc}</if>
		<if test="developmentAdvice != null and developmentAdvice !=''"> and DEVELOPMENT_ADVICE= #{developmentAdvice}</if>
	</sql>
	<sql id="Base_Column_List">
		ID ,
		STANDARD_VALUE_BGN ,
		STANDARD_VALUE_END ,
		SECTION_DESC ,
		DEVELOPMENT_ADVICE 
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from tb_pa_ec_report
		where
		ID = #{id,jdbcType=INTEGER}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from tb_pa_ec_report
		where
		ID = #{id,jdbcType=INTEGER}
	</delete>

	<insert id="insertSelective" parameterType="com.atguigu.survey.entities.zhyq.TbPaEcReport">
		insert into tb_pa_ec_report
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">ID,</if>	
			<if test="standardValueBgn != null">STANDARD_VALUE_BGN,</if>	
			<if test="standardValueEnd != null">STANDARD_VALUE_END,</if>	
			<if test="sectionDesc != null and sectionDesc !=''">SECTION_DESC,</if>
			<if test="developmentAdvice != null and developmentAdvice !=''">DEVELOPMENT_ADVICE,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="standardValueBgn != null">
				#{standardValueBgn,jdbcType=INTEGER},
			</if>
			<if test="standardValueEnd != null">
				#{standardValueEnd,jdbcType=INTEGER},
			</if>
			<if test="sectionDesc != null and sectionDesc !=''">
				#{sectionDesc,jdbcType=VARCHAR},
			</if>
			<if test="developmentAdvice != null and developmentAdvice !=''">
				#{developmentAdvice,jdbcType=VARCHAR},
			</if>
			
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.atguigu.survey.entities.zhyq.TbPaEcReport">
		update tb_pa_ec_report
		<set>
			<if test="standardValueBgn != null">
				STANDARD_VALUE_BGN= #{standardValueBgn,jdbcType=INTEGER},
			</if>
			<if test="standardValueEnd != null">
				STANDARD_VALUE_END= #{standardValueEnd,jdbcType=INTEGER},
			</if>
			<if test="sectionDesc != null and sectionDesc !=''">
				SECTION_DESC= #{sectionDesc,jdbcType=VARCHAR},
			</if>
			<if test="developmentAdvice != null and developmentAdvice !=''">
				DEVELOPMENT_ADVICE= #{developmentAdvice,jdbcType=VARCHAR}
			</if>
		</set>
		where
		ID = #{id,jdbcType=INTEGER}
	</update>

	<select id="getAll" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from tb_pa_ec_report where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageCount" resultType="java.lang.Integer" parameterType="map">
		select count(1) from tb_pa_ec_report where 1=1
		<include refid="Base_Where" />
	</select>
	<select id="pageData" resultMap="BaseResultMap" parameterType="map">
		select
		<include refid="Base_Column_List" />
		from tb_pa_ec_report where 1=1
		<include refid="Base_Where" />
	</select>

	<select id="selectByIds" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from tb_pa_ec_report where ID in
		<foreach item="item" index="index" collection="list" open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

</mapper>
